<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet"  href="{{url_for('static',filename='css/styleHeap.css')}}"/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.min.js"></script>

  <div class="topnav">
    <a href="{{url_for('bst')}}">Binary Search Tree</a>
    <a href="{{url_for('Heap')}}">Max Heap </a>
    <a href="{{url_for('MinHeap')}}">Min Heap</a>
   
                
    <a href="{{url_for('logout')}}">Logout</a>
    <a href="{{url_for('quick')}}">Quick sort</a>
    <a href="{{url_for('insertion')}}">Insertion sort</a>
    <a href="{{url_for('counting')}}">Counting sort</a>
    <a href="{{url_for('Bfs')}}">Bfs </a>
    <a href="{{url_for('Dfs')}}">Dfs </a>
    <a href="{{url_for('Merge')}}">Merge Sort</a>
    <a href="{{url_for('Avl')}}">Avl Tree</a>
  </div>
<body id="mycanvas"> 
  
  
  
<section>
    <nav>
        <table>
            <tr>
                <td>
                    <label>Number Of Nodes:    </label> <input type="text" id="value" value="" onkeypress="handleKeyPress(event)" autofocus placeholder="" size="18">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="Insert" class="btn" type="button" onclick="Build();">Num Of Nodes</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button id="Insert" class="btn" type="button" onclick="InsertNode();">Insert Node</button>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Edges:    </label> <input type="text" id="valueEdge" value="" onkeypress="handleKeyPress(event)" autofocus placeholder="for example: (A,B),(C,D)..." size="18">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="Edge" class="btn" type="button" onclick="InsertEdges();">Insert Edges</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Start Node:    </label> <input type="text" id="StartNode" value="" onkeypress="handleKeyPress(event)" autofocus placeholder="" size="18">
                </td>
            </tr>
            <tr>
                <td>
                   
                    <button class="btn" type="button"  onclick="BfsSearch();">Bfs Search </button></br>
                  
                </td>
            </tr>
            <tr>
                <td>
                   
                    <button class="btn" type="button"  onclick="PrintPng();">Print jpg </button></br>
                  
                </td>
            </tr>
            <tr>
                <td>
                   
                    <button class="btn" type="button"  onclick="Print();">Print jpg </button></br>
                  
                </td>
            </tr>
        </table>
<br>
<span id="msg"></span>
</nav>
<div class="mycanvasArray">

</div>
<div class="mycanvas" style="width: 100%;">
    <div  style="width: 20%; float:right">
      
        <button class="btn" type="button" id="Next" onclick="Next();" style="display:none;"  >Next </button></br>
     </div>
     
     <div id="tableBfs" style="width: 80%; float:left; left:120px; ">
      
     </div>
</div>
<div class="mycanvasBfs">
</div>
<article >



</article>
<nav class="right">
 <div id="algo"></div>
    
</nav>

<nav>
   <!-- load the d3.js library 
   <script src='lib/d3.min.js'></script>-->
 
 
 
   <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/bfc.js')}}"></script>
   <script src="{{url_for('static', filename='js/bf.js')}}"></script>
   <script src="https://d3js.org/d3.v4.min.js"></script>



</nav>



</section>





</body>